@import "tailwindcss";


@theme {
  --color-forground: oklch(99.21% 0.001 264.05);
  --color-antiflash-white: oklch(96.95% 0.001 264.05);
  --color-platinum: oklch(93.45% 0.002 264.05);
  --color-french-gray: oklch(89.72% 0.004 264.05);
  --color-french-gray-2: oklch(82.69% 0.007 264.05);
  --color-slate-gray: oklch(64.28% 0.042 264.05);
  --color-outer-space: oklch(52.54% 0.033 264.05);
  --color-onyx: oklch(41.55% 0.024 264.05);
  --color-background: oklch(27.56% 0.016 264.05);
  --color-btn-background:oklch(37.9% 0.146 265.522);
  
}
